 <div class="login-container">
  <h2>Login</h2>

<form (ngSubmit)="onLogin()">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input
      type="text"
      [(ngModel)]="username"
      placeholder="Username"
      name="username"
      class="form-control"
      required
    />
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input
      type="password"
      [(ngModel)]="password"
      placeholder="Password"
      name="password"
      class="form-control"
      required
    />
  </div>
  <br/>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>